<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.project.system.you.mapper.LvYouMapper">
    
    <resultMap type="com.ruoyi.project.system.you.domain.LvYou" id="LvYouResult">
        <result property="lvyouId"    column="LVYOU_ID"    />
        <result property="lvyouDesc"    column="LVYOU_DESC"    />
        <result property="PRICE"    column="PRICE"    />
        <result property="fengmianUrl"    column="FENGMIAN_URL"    />
        <result property="pdfUrl"    column="PDF_URL"    />
        <result property="crtDatetime"    column="CRT_DATETIME"    />
        <result property="TITLE"    column="TITLE"    />
        <result property="locationName"    column="LOCATION_NAME"    />
        <result property="lvyouDescUs"    column="LVYOU_DESC_US"    />
        <result property="pdfUrlUs"    column="PDF_URL_US"    />
        <result property="titleUs"    column="TITLE_US"    />
        <result property="locationNameUs"    column="LOCATION_NAME_US"    />
        <result property="tag"    column="TAG"    />
        <result property="tagUs"    column="TAG_US"    />
        <result property="CATEGORY"    column="CATEGORY"    />
        <result property="tiaozhuanUrl"    column="TIAOZHUAN_URL"    />
    </resultMap>

    <sql id="selectLvYouVo">
        select LVYOU_ID, LVYOU_DESC, PRICE, FENGMIAN_URL, PDF_URL, CRT_DATETIME, TITLE, LOCATION_NAME, LVYOU_DESC_US, PDF_URL_US, TITLE_US, LOCATION_NAME_US,TAG,TAG_US,CATEGORY,TIAOZHUAN_URL from lv_you
    </sql>

    <select id="selectLvYouList" parameterType="com.ruoyi.project.system.you.domain.LvYou" resultMap="LvYouResult">
        <include refid="selectLvYouVo"/>
        <where>  
            <if test="lvyouDesc != null  and lvyouDesc != ''"> and LVYOU_DESC = #{lvyouDesc}</if>
            <if test="PRICE != null  and PRICE != ''"> and PRICE = #{PRICE}</if>
            <if test="fengmianUrl != null  and fengmianUrl != ''"> and FENGMIAN_URL = #{fengmianUrl}</if>
            <if test="pdfUrl != null  and pdfUrl != ''"> and PDF_URL = #{pdfUrl}</if>
            <if test="crtDatetime != null  and crtDatetime != ''"> and CRT_DATETIME = #{crtDatetime}</if>
            <if test="TITLE != null  and TITLE != ''"> and TITLE = #{TITLE}</if>
            <if test="locationName != null  and locationName != ''"> and LOCATION_NAME like concat('%', #{locationName}, '%')</if>
            <if test="lvyouDescUs != null  and lvyouDescUs != ''"> and LVYOU_DESC_US = #{lvyouDescUs}</if>
            <if test="pdfUrlUs != null  and pdfUrlUs != ''"> and PDF_URL_US = #{pdfUrlUs}</if>
            <if test="titleUs != null  and titleUs != ''"> and TITLE_US = #{titleUs}</if>
            <if test="locationNameUs != null  and locationNameUs != ''"> and LOCATION_NAME_US = #{locationNameUs}</if>
            <if test="CATEGORY != null  and CATEGORY != ''"> and CATEGORY = #{CATEGORY}</if>
            <if test="tiaozhuanUrl != null  and tiaozhuanUrl != ''"> and TIAOZHUAN_URL = #{tiaozhuanUrl}</if>
        </where>
    </select>
    
    <select id="selectLvYouById" parameterType="String" resultMap="LvYouResult">
        <include refid="selectLvYouVo"/>
        where LVYOU_ID = #{lvyouId}
    </select>
        
    <insert id="insertLvYou" parameterType="com.ruoyi.project.system.you.domain.LvYou">
        insert into lv_you
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="lvyouId != null">LVYOU_ID,</if>
            <if test="lvyouDesc != null">LVYOU_DESC,</if>
            <if test="PRICE != null">PRICE,</if>
            <if test="fengmianUrl != null">FENGMIAN_URL,</if>
            <if test="pdfUrl != null">PDF_URL,</if>
            <if test="crtDatetime != null">CRT_DATETIME,</if>
            <if test="TITLE != null">TITLE,</if>
            <if test="locationName != null">LOCATION_NAME,</if>
            <if test="lvyouDescUs != null">LVYOU_DESC_US,</if>
            <if test="pdfUrlUs != null">PDF_URL_US,</if>
            <if test="titleUs != null">TITLE_US,</if>
            <if test="locationNameUs != null">LOCATION_NAME_US,</if>
            <if test="tag != null">TAG,</if>
            <if test="tagUs != null">TAG_US,</if>
            <if test="CATEGORY != null">CATEGORY,</if>
            <if test="tiaozhuanUrl != null">TIAOZHUAN_URL,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="lvyouId != null">#{lvyouId},</if>
            <if test="lvyouDesc != null">#{lvyouDesc},</if>
            <if test="PRICE != null">#{PRICE},</if>
            <if test="fengmianUrl != null">#{fengmianUrl},</if>
            <if test="pdfUrl != null">#{pdfUrl},</if>
            <if test="crtDatetime != null">#{crtDatetime},</if>
            <if test="TITLE != null">#{TITLE},</if>
            <if test="locationName != null">#{locationName},</if>
            <if test="lvyouDescUs != null">#{lvyouDescUs},</if>
            <if test="pdfUrlUs != null">#{pdfUrlUs},</if>
            <if test="titleUs != null">#{titleUs},</if>
            <if test="locationNameUs != null">#{locationNameUs},</if>
            <if test="tag != null">#{tag},</if>
            <if test="tagUs != null">#{tagUs},</if>
            <if test="CATEGORY != null">#{CATEGORY},</if>
            <if test="tiaozhuanUrl != null">#{tiaozhuanUrl},</if>
         </trim>
    </insert>

    <update id="updateLvYou" parameterType="com.ruoyi.project.system.you.domain.LvYou">
        update lv_you
        <trim prefix="SET" suffixOverrides=",">
            <if test="lvyouDesc != null">LVYOU_DESC = #{lvyouDesc},</if>
            <if test="PRICE != null">PRICE = #{PRICE},</if>
            <if test="fengmianUrl != null">FENGMIAN_URL = #{fengmianUrl},</if>
            <if test="pdfUrl != null">PDF_URL = #{pdfUrl},</if>
            <if test="crtDatetime != null">CRT_DATETIME = #{crtDatetime},</if>
            <if test="TITLE != null">TITLE = #{TITLE},</if>
            <if test="locationName != null">LOCATION_NAME = #{locationName},</if>
            <if test="lvyouDescUs != null">LVYOU_DESC_US = #{lvyouDescUs},</if>
            <if test="pdfUrlUs != null">PDF_URL_US = #{pdfUrlUs},</if>
            <if test="titleUs != null">TITLE_US = #{titleUs},</if>
            <if test="locationNameUs != null">LOCATION_NAME_US = #{locationNameUs},</if>
            <if test="tag != null">TAG = #{tag},</if>
            <if test="tagUs != null">TAG_US = #{tagUs},</if>
            <if test="CATEGORY != null">CATEGORY = #{CATEGORY},</if>
            <if test="tiaozhuanUrl != null">TIAOZHUAN_URL = #{tiaozhuanUrl}</if>
        </trim>
        where LVYOU_ID = #{lvyouId}
    </update>

    <delete id="deleteLvYouById" parameterType="String">
        delete from lv_you where LVYOU_ID = #{lvyouId}
    </delete>

    <delete id="deleteLvYouByIds" parameterType="String">
        delete from lv_you where LVYOU_ID in 
        <foreach item="lvyouId" collection="array" open="(" separator="," close=")">
            #{lvyouId}
        </foreach>
    </delete>

    <select id="selectAll" resultMap="LvYouResult">

        <include refid="selectLvYouVo"/>
        where 1=1
        <if test="type != null  and type != ''"> and CATEGORY = #{type}</if>




    </select>


    <select id="selectallByCategory" resultMap="LvYouResult">

        <include refid="selectLvYouVo"/>

        where CATEGORY = #{type}
        <if test="type != null  and type != ''"> and CATEGORY = #{type}</if>


    </select>

    <select id="selectByTitleKey" resultMap="LvYouResult">
        <include refid="selectLvYouVo"/>
        where location_name like (concat('%', #{searchKey}, '%'))
        <if test="type != null  and type != ''"> and CATEGORY = #{type}</if>



    </select>


    <select id="selectByUSTitleKey" resultMap="LvYouResult">

        <include refid="selectLvYouVo"/>
        where location_name_us like (concat('%', #{searchKey}, '%'))
        <if test="type != null  and type != ''"> and CATEGORY = #{type}</if>
    </select>

    <select id="selectFive" resultMap="LvYouResult">

        <include refid="selectLvYouVo"/>
        where 1=1
        <if test="type != null  and type != ''"> and CATEGORY = #{type}</if>
        limit 5


    </select>


    <select id="getTags" resultType="java.lang.String">

   select LOCATION_NAME from lv_you
   where 1=1
        <if test="type != null  and type != ''"> and CATEGORY = #{type}</if>
   group by LOCATION_NAME



    </select>


    <select id="getUSTags" resultType="java.lang.String">
   select LOCATION_NAME_us from lv_you
   where 1=1
        <if test="type != null  and type != ''"> and CATEGORY = #{type}</if>
   group by LOCATION_NAME_us
    </select>

    <select id="selectByTag2" resultMap="LvYouResult">

        <include refid="selectLvYouVo"/>
        where TAG like (concat('%', #{searchKey}, '%'))
        <if test="type != null  and type != ''"> and CATEGORY = #{type}</if>


    </select>

    <select id="selectByUSTag2" resultMap="LvYouResult">

        <include refid="selectLvYouVo"/>
        where TAG_US like (concat('%', #{searchKey}, '%'))
        <if test="type != null  and type != ''"> and CATEGORY = #{type}</if>


    </select>


    <select id="getUSTags2" resultType="java.lang.String">
      select TAG_US from lv_you
      where 1=1
        <if test="type != null  and type != ''"> and CATEGORY = #{type}</if>
      group by TAG_US
    </select>

    <select id="getTags2" resultType="java.lang.String">
   select TAG from lv_you
   where 1=1
        <if test="type != null  and type != ''"> and CATEGORY = #{type}</if>
   group by TAG
    </select>

</mapper>