<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('旅游信息上传列表')"/>
</head>
<body class="gray-bg">
<div class="container-div">
    <div class="row">
        <input id="catetegoryName" th:value="${catetegoryName}"  style="display: none">
        <div class="btn-group-sm" id="toolbar" role="group">
<!--            <a class="btn btn-success" onclick="$.operate.add2('111','2222')" shiro:hasPermission="system:you:add">-->
            <a class="btn btn-success" th:onclick="gotoAdd([[${catetegoryName}]])" shiro:hasPermission="system:you:add">
                <i class="fa fa-plus"></i> 添加
            </a>
            <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:you:edit">
                <i class="fa fa-edit"></i> 修改
            </a>
            <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()"
               shiro:hasPermission="system:you:remove">
                <i class="fa fa-remove"></i> 删除
            </a>
            <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:you:export">
                <i class="fa fa-download"></i> 导出
            </a>
        </div>
        <div class="col-sm-12 select-table table-striped">
            <table id="bootstrap-table"></table>
        </div>
    </div>
</div>
<th:block th:include="include :: footer"/>
<script th:inline="javascript">
    var editFlag = [[${@permission.hasPermi('system:you:edit')}]];
    var removeFlag = [[${@permission.hasPermi('system:you:remove')}]];
    var prefix = ctx + "system/you";

    $(function () {
        var type = $("#catetegoryName").val();
        var datas = {"type": type};
        var modalName = "旅游信息上传";
        if (type == 'jipiao'){
            modalName = "机票信息上传";
        }else if (type == 'jipiao'){

        }
        var options = {
            url: prefix + "/list",
            createUrl: prefix + "/add",
            updateUrl: prefix + "/edit/{id}",
            removeUrl: prefix + "/remove",
            exportUrl: prefix + "/export",
            modalName: modalName,
            queryParams: datas,
            columns: [{
                checkbox: true
            },
                {
                    field: 'lvyouId',
                    title: '',
                    visible: false
                },
                {
                    field: 'CATEGORY',
                    title: '类型',
                    formatter: function (value, row, index) {
                        if (value == 'jipiao') {
                            return "机票";
                        } else if (value == 'info') {
                            return "旅游信息";
                        }
                    }
                },
                {
                    field: 'tag',
                    title: '种类'
                },
                {
                    field: 'tagUs',
                    title: '英文种类'
                },

                {
                    field: 'lvyouDesc',
                    title: '描述'
                },
                {
                    field: 'price',
                    title: '价格'
                },
                {
                    field: 'fengmianUrl',
                    title: '封面URL'
                },
                {
                    field: 'pdfUrl',
                    title: 'pdfURL'
                },
                {
                    field: 'crtDatetime',
                    title: '创建时间'
                },
                {
                    field: 'TITLE',
                    title: '标题'
                },

                {
                    field: 'locationName',
                    title: '地点名称'
                },
                {
                    field: 'lvyouDescUs',
                    title: '英文旅游描述'
                },
                {
                    field: 'pdfUrlUs',
                    title: '英文PDF-URL'
                },
                {
                    field: 'titleUs',
                    title: '英文标题'
                },
                {
                    field: 'locationNameUs',
                    title: '英文地点名称'
                },
                {
                    field: 'tiaozhuanUrl',
                    title: '图片跳转地址'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.lvyouId + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.lvyouId + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
        };
        $.table.init(options);
    });

    function gotoAdd(type) {
        $.operate.add2('111',type);

    }
</script>
</body>
</html>