<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <title>亿万旅行社</title>
    <link th:href="@{/css/basic.css}" rel="stylesheet">
    <link th:href="@{/css/index.css}" rel="stylesheet">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:inline="javascript"> var ctx = [[@{/}]]; var captchaType = [[${captchaType}]];</script>


</head>
<body>
<header class="g-hd">
    <div class="hd_wrap">
        <h1 class="u-logo"><a href="index2.html"></a></h1>
        <nav class="m-nav">
            <h2 class="h_none">Website navigation</h2>
            <ul>
                <li>
                    <a class="active" href="/index2??isUS=true">Index</a>
                </li>
                <li>
                    <a href="/indexLvYouInfo?isUS=true">Travel</a>
                </li>
                <li>
                    <a href="/indexAbout?isUS=true">Company profile</a>
                </li>
                </li>

            </ul>
        </nav>
    </div>
</header>
<div class="m-search">
    <div class="center s_wrap"></div>
    <input class="search_txt" type="text" name="" placeholder="Please enter a tourist attraction">
    <button class="search_btn" onclick="searchTitle()">Search</button>
</div>


<div class="g-mn index_tour"> <!-- 左右尖括号&lt; &gt; -->
    <section class="center">
        <h2>Popular tourism</h2>
        <p>Domestic tourism, foreign tourism, self-help tourism, self driving tourism, tanker visa, theme tourism and other hot tourism recommendations</p>
    </section>

        <figure  th:each="LvYou :${lvyouInfo}">

            <img th:src="@{${LvYou.fengmianUrl}}" th:onclick="showPdf([[${LvYou.pdfUrl}]])" alt="热门旅游">

            <figcaption th:onclick="sowPdf([[${LvYou.pdfUrl}]])">
                <strong class="title" th:text="${LvYou.titleUs}"></strong>
                <div class="info" th:onclick="showPdf([[${LvYou.pdfUrl}]])">
                    <span class="price">₱<strong th:text="${LvYou.PRICE}">2864</strong> at least</span>
                </div>
            </figcaption>
        </figure>


</div>


<footer class="g-ft">
    <div class="top">
        <div class="block right">
            <h2>contact information</h2>
            <hr>
            <ul>
                <li>
                    Weibo：weibo.com/ycku
                </li>
                <li>
                </li>
                <li>
                    Address：ycku@ycku.com
                </li>
                <li>
                    江苏盐城无名路123号
                </li>
            </ul>
        </div>
    </div>
    <div class="m-copyright bottom ">
        <div style="text-align: center">
            <a href="/index2">中文</a>
            <a href="/index2?isUS=true">English</a>
        </div>
        Copyright © YCKU 亿万旅行社 | 苏ICP备120110119号 | 旅行社经营许可证：L-YC-BK12345
    </div>
</footer>

<script>

    function searchTitle() {
        var searchText = $(".search_txt").val();
        var trimText = $.trim(searchText);        if (trimText == '' || null == trimText) {

            alert("Please enter keywords");
            return;
        }
        var prefix = ctx + "system/you";
        window.location.href = ctx + "system/you/searchByList?searchKey=" + trimText;
    }

    function showPdf(fileName) {
        var prefix = ctx + "system/you";
        var data = prefix + "/showPdf?fileName=" + fileName;
        var pdfURl = "/js/pdfjs/web/viewer.html?file=" + encodeURIComponent(data);
        window.open(pdfURl);

    }


</script>
</body>
</html>